{% extends "base.html.twig"  %}
{%  block body  %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('build/wild-flowers-571940_1280.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    <button type="button" class="btn btn-light">Show all</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/crocus-2139771_1280.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button type="button" class="btn btn-light">Show all</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/daisies-3471283_1280.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    <button type="button" class="btn btn-light">Show all</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/sunflower-3792914_1280.jpg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    <button type="button" class="btn btn-light">Show all</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="jumbotron m-0" id="despre_noi">
        <h1 class="display-4">Despre Noi</h1>
        <hr class="my-4">
        <p>Kronplant este o firma cu o experienta de peste 10 ani in domeniul amenajarii si intretinerii peisagistice ce
            dispune de intreaga logistica necesara pentru realizarea lucrarilor in PROIECTARE-AMENAJARE-INTRETINERE
            gradini rezidentiale, parcuri, alte spatii verzi.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="servicii" id="servicii">
        <h1 class="display-4 text-light pt-3 pl-5">Servicii</h1>
        <div class="row">
            <div class="col m-5">
                <div class="card bg-transparent" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text text-light">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="card-link btn btn-light">Card link</a>
                        <a href="#" class="card-link btn btn-light">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col m-5">
                <div class="card bg-transparent" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text text-light">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="card-link btn btn-light">Card link</a>
                        <a href="#" class="card-link btn btn-light">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col m-5">
                <div class="card bg-transparent" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text text-light">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="card-link btn btn-light">Card link</a>
                        <a href="#" class="card-link btn btn-light">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col m-5">
                <div class="card bg-transparent" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text text-light">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="card-link btn btn-light">Card link</a>
                        <a href="#" class="card-link btn btn-light">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col m-5">
                <div class="card bg-transparent" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text text-light">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="card-link btn btn-light">Card link</a>
                        <a href="#" class="card-link btn btn-light">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="card bg-transparent" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text text-light">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                        <a href="#" class="card-link btn btn-light">Card link</a>
                        <a href="#" class="card-link btn btn-light">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron m-0" id="portofoliu">
        <h1 class="display-4">Portofoliu</h1>
        <hr class="my-4">
        <p>Kronplant este o firma cu o experienta de peste 10 ani in domeniul amenajarii si intretinerii peisagistice ce
            dispune de intreaga logistica necesara pentru realizarea lucrarilor in PROIECTARE-AMENAJARE-INTRETINERE
            gradini rezidentiale, parcuri, alte spatii verzi.</p>
    </div>

    <div class="contact" id="contact">
        <div class="row">
           <div class="col p-0">
            <img src="{{ asset('build/dandelion-1557110_1280.jpg') }}" class="d-block w-100" alt="...">
           </div>
           <div class="col p-0 bg-light">
            <div class="jumbotron m-0 bg-light">
                <h1 class="display-4">Contact</h1>
                <hr class="my-4">
                <p>SC Kronplant SRL <br>
 
                    Adresa: Str. Codrul Cosminului, Nr. 29, Brasov <br>
                    Punct de lucru: Loc. Budila- Tarlungeni, Brasov <br>
                    Telefon: 0268.42 31 89 sau 0368.00 71 61 <br>
                    E-mail: kronplant@yahoo.com <br>
                     
                    Persoane de contact: <br>
                    Ing. SANDI MIHAI: 0745.04 06 68 <br>
                    Ing. SANDI IOANA: 0745. 87 05 08</p>
                
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                          </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Sign in</button>
                      </form>
            </div>
           </div>
        </div>
    </div>





{%  endblock  %}